__pycache__/
*.pyc
.env
.user.yml
.venv/
.airflow/
logs/
postgres_data/
.dbt/
.dbt/
.python-version
venv/
dbt_project/target/
dbt_project/dbt_packages/
target/
dbt_packages/
data/*.csv
!data/.gitkeep
*.log
.DS_Store
